*.exe
Main.cpp
Main.dSYM/Contents/Resources/DWARF/Main
outfile.txt
outfileX.bin
outfileY.bin
.vscode/tasks.json
Main.dSYM/Contents/Info.plist
Main
.vscode/settings.json
domain_out.txt
GridFunction
GridFunction.dSYM/Contents/Info.plist
Matrix
Matrix.dSYM/Contents/Info.plist
*.bin
